<div class="col-md-12 backimage">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 mt-5">
        <section id="movie">
          <div class="left">
            <div class="event">{{ ticketDetails['theatre'] }}</div>
            <div class="title">{{ ticketDetails['movie'] }}</div>
            <div class="info">{{ ticketDetails['date'] }} // {{ ticketDetails['timing']}}</div>
          </div>
          <div class="col-md-6 offset-md-4">
            <div class="seats">class<span>{{ ticketDetails['class'] }}</span></div>
            <div class="seats">seat<span>{{ ticketDetails['seat'] }}</span></div>
            <div class="seats">amount<span>{{ ticketDetails['price'] }}</span></div>
          </div>
        </section>
      </div>
    </div>
  </div>  
</div>  