.backimage {
    background-image: url('../../assets/images/cinema.jpg');
    background-repeat: repeat-x top;    
    height: 600px;
    width: 100%; /* may not be necessary */
}
.my-form {
    background-color:rgba(169, 36, 67, 0.51);;
    margin-top: 85px;
    padding: 55px;
}
label {
    color: white;
}
.form-header{
    color: white;
    text-align: center;
    font-family: cursive;
}