.backimage {
    background-image: url('../../assets/images/cur.jpg');
    background-repeat: repeat-x top;    
    height: 100%;
    width: 100%; /* may not be necessary */
}
.my-form {
    background-color: rgba(43, 0, 22, 0.86);
    /* margin-top: 85px; */
     padding: 40px; 
}
label {
    color: white;
}
.form-header{
    color: white;
    text-align: center;
    font-family: cursive;
}