
body {
  margin:0; 
  background:#eefaff; 
  font-family:'Pontano Sans',sans-serif;
}
#bar {
  height:50px; 
  width:100%; 
  background:hsla(198, 98%, 51%, 0); 
  position:fixed; 
  z-index:20; 
  top:0;
}
#bar div {
  transform:translate3d(0,-2em,0);
  -webkit-transform:translate3d(0,-2em,0); 
  transition:all 0.3s ease-in-out 0s;  
  -webkit-transition:all 0.3s ease-in-out 0s;  
  opacity:0; 
  width:920px; 
  margin:auto; 
  padding:0.4em 20px; 
  font-size:140%; 
  font-weight:bold;
}
#bar div span {
  display:block; 
  float:left;
}
#bar div a {
  display:block; 
  float:right; 
  text-decoration:none; 
  color:#fff; 
  transition:opacity 0.15s linear 0s; 
  -webkit-transition:opacity 0.15s linear 0s; 
  opacity:1;
}
#bar div a:hover {
  opacity:0.6;
}
#bar.showLabel div {
  transform:translate3d(0,0,0); 
  -webkit-transform:translate3d(0,0,0); 
  opacity:1;
}
#scale_wrapper {
  width:960px; 
  margin:auto;
}
#scale_area {
  position:fixed; 
  z-index:10;
}
#scale_area.not_fixed {
  position:absolute; 
  transform:translate3d(0,65px,0);
  -webkit-transform:translate3d(0,65px,0);
}

#banner_wrapper {
  height:380px; 
  width:100%; 
  overflow:hidden; 
  position:relative;
}
h1 {
  font-family:'Karla',sans-serif; 
  text-shadow:1px 1px 1px #000; 
  position:relative; 
  bottom:2.67em; 
  width:960px; 
  margin:auto; 
  text-align:right; 
  font-size:400%; 
  color:#fff; 
  padding:20px;
}
#banner {
  width:105%; 
  height:105%; 
  margin:-10px 0 0 -25px; 
  background-image:url('../../assets/images/cover.jpg'); 
  background-position:center center; 
  background-size:cover;
  background-repeat:no-repeat;
}
